html {
  scroll-behavior: smooth;
}

section {
  padding: 80px 0;
}

header.sticky-top {
  z-index: 1030;
}

header {
  border-bottom: 1px solid #32769a;
}

footer {
  background-color: #32769a;
}

/* font styling */
body {
  font-family: 'Cormorant', serif;
}

h1 {
  font-family: 'Cormorant', serif;
  font-weight: 700;
}

h2 {
  font-family: 'Cormorant', serif;
  font-size: 2.5rem;
  text-shadow:
     0 0 5px rgba(255,255,255,0.6),
     0 0 10px rgba(255,255,255,0.6),
     0 0 20px rgba(255,255,255,0.6);
}

.lead {
 font-size: 1.8rem;
 text-shadow:
    0 0 5px rgba(0,0,0,0.6),
    0 0 10px rgba(0,0,0,0.6),
    0 0 20px rgba(0,0,0,0.6);
}

p {
  font-family: 'Cormorant', serif;
  font-weight: 400;
}

.req-asterisk {
  font-size: 0.5rem;
}

/* top nav hover */
nav .nav-link:hover {
  background-color: #e9ecef;
  border-radius: 0.25rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* buttons */
.btn-primary {
  background-color: #f9a73a;
  border-color: #f9a73a;
}

.btn-primary:hover {
  background-color: #d9862e;
  border-color: #d9862e;
}

.btn-cta-light {
  color: rgba(255, 255, 255, 1);
  border-color: rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 0.15);
  transition: all 0.3s ease;
  box-shadow: none;
}

.btn-cta-light:hover,
.btn-cta-light:focus {
  background-color: rgba(255, 255, 255, 0.05);
  color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

section .bi.text-primary {
  color: #32769a !important;
}
